In [1]:
import pandas as pd

data = [
    ["Alice", 25, "Female"],
    ["Bob", 30, "Male"],
    ["Charlie", 35, "Male"],
]

df = pd.DataFrame(data, columns=["Name", "Age", "Gender"])
print(df.to_markdown())

|    | Name    |   Age | Gender   |
|---:|:--------|------:|:---------|
|  0 | Alice   |    25 | Female   |
|  1 | Bob     |    30 | Male     |
|  2 | Charlie |    35 | Male     |

In [2]:
from tabulate import tabulate

data = [
    ["Name", "Age", "Gender"],
    ["Alice", "25", "Female"],
    ["Bob", "30", "Male"],
    ["Charlie", "35", "Male"],
]

print(tabulate(data, headers='firstrow', tablefmt='pipe'))

| Name    |   Age | Gender   |
|:--------|------:|:---------|
| Alice   |    25 | Female   |
| Bob     |    30 | Male     |
| Charlie |    35 | Male     |

In [3]:

data = [
    ["Name", "Age", "Gender"],
    ["Alice", "25", "Female"],
    ["Bob", "30", "Male"],
    ["Charlie", "35", "Male"],
]

col_width = max(len(word) for row in data for word in row) + 2

print("|".join(word.ljust(col_width) for word in data[0]))

print("-" * (col_width * len(data[0]) + len(data[0]) - 1))

for row in data[1:]:
    print("|".join(word.ljust(col_width) for word in row))

Name     |Age      |Gender
-----------------------------
Alice    |25       |Female
Bob      |30       |Male
Charlie  |35       |Male